<form [formGroup]="form" (ngSubmit)="postData()">
  <div class="form-group">
    <i class="fa-solid fa-user mx-2"></i>
    <label for="name">Name</label>
    <input
      formControlName="name"
      class="form-control"
      type="text"
      placeholder="name"
    />
    <br /><br />
    <i class="fa-solid fa-phone mx-2"></i>
    <label for="number">Number</label>
    <input
      formControlName="number"
      class="form-control"
      type="text"
      placeholder="mobile number"
    />
    <br /><br />
    <button type="submit" class="btn btn-primary mx-5">submit</button>
  </div>
</form>
